todo.txt
/minio_data/
/postgres_data/
/.idea/
/.vscode/
*.log
*.tmp
*.bak
*.swp
*.swo
*.DS_Store
*.env
*.pyc
__pycache__/
dist/
build/
*.egg-info/
*.egg
*.zip
*.tar.gz
*.whl
*.db
*.sqlite
*.pem
*.key
*.crt
*.pfx
*.cer
*.csr
*.der
*.jks
*.keystore
*.p12
*.p7b
*.p7c
*.srl
*.csr
*.csr
*.cursorrules
.cursor
minio.license